@import "src/assets/variables";

.section_our_services {
  //margin-top: 133px;


}

.our_services_content {
  margin-top: 90px;

  &.active {
    background-color: red;
  }
}

.services_border_block {
  position: absolute;
  left: 40px;
  top: 0;
  max-width: 80%;
  width: 100%;
  height: 100%;

  .services_border_right {
    position: absolute;
    width: 2px;
    height: 30%;
    background-color: black;
    right: 0;
  }
}

.our_services_title {
  padding-top: 133px;


  h3 {
    color: $black;
    font-size: calc($fontSize20 + 31 * (100vw / 1920));
    font-style: normal;
    font-weight: 400;
    line-height: calc($fontSize20 + 31 * (100vw / 1920));
    text-transform: uppercase;
    max-width: 1197px;
  }

  p {
    margin: 26px 0 0;
    color: $red;
    font-size: calc($fontSize14 + 16 * (100vw / 1920));
    font-style: italic;
    font-weight: 300;
    line-height: calc($fontSize14 + 16 * (100vw / 1920));
  }

}

.our_services_content_item {
  display: flex;
  justify-content: space-between;
  gap: 89px;


}
.our_services_content_item .content_item_text:nth-child(2) {
  flex: inherit;
}

.content_item_text {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h3 {
    color: $black;
    //font-size: $fontSize74;
    font-size: calc(25px + 55 * (100vw / 1920));
    font-style: normal;
    font-weight: 400;
    line-height: 154.3%; /* 114.182px */
    text-transform: uppercase;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 20%;
      height: 2px;
      background-color: black;
      bottom: 0;

    }
  }

  p {
    margin: 52px 0 0;
    color: $black;
    text-align: justify;
    //    font-size: 22px;
    font-size: calc(15px + 15 * (100vw / 1920));
    font-style: normal;
    font-weight: 400;
    line-height: calc(15px + 17 * (100vw / 1920));
    max-width: 623px;
  }

  span {
    margin: 52px 0 0;
    color: $black;
    text-align: justify;
    //    font-size: 22px;
    font-size: calc(15px + 15 * (100vw / 1920));
    font-style: italic;
    font-weight: 500;
    line-height: calc(15px + 17 * (100vw / 1920));
    display: block;
    max-width: 623px;
  }
}

.content_item_img_block {
  position: relative;

}

.content_item_img_block_content {
  position: relative;
  cursor: pointer;

  &:hover {
    .content_item_img_bg {
      opacity: 0;
    }
  }
}


.content_item_img_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
  background-color: black;
  transition: .3s;

}




.animated_Left_border {
  position: relative;
  height: 90px;

}

.animated_Left_border_end_point {
  position: relative;
  height: 90px;
}

.animated_right_border {
  height: 55px;
  position: relative;
}

.animated_center_border {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;


  &::before {
    position: absolute;
    height: 2px;
    content: '';
    background: black;
    transition: 3s;
    width: 0;

  }
  &.active::before{
     width: 51%;

  }
}
.content_item1_center_border{
  position: relative;

  //&::before {
  //  position: absolute;
  //  height: 2px;
  //  content: '';
  //  background: black;
  //  transition: 3s;
  //  width: 0;
  //  right: 333px;
  //
  //}
  //&.active::before{
  //  width: 51%;
  //
  //}
}
.animated_center_small_border{
  position: relative;



  &::before {
    position: absolute;
    height: 2px;
    content: '';
    background: black;
    transition: 3s;
    width: 0;
    left: 50.7%;

  }
  &.active::before{
    width: 24.9%;

  }
}

.content_item_img_width {

  width: 100%;
  min-height: 100%;

  img {
    height: 100%;
    width: 100%;

  }

}

.services_middle_border {
  position: relative;
  min-height: 110px;

  &::before {
    position: absolute;
    content: '';
    left: 50.6%;
    width: 2px;
    height: 0;
    background-color: black;
    transition: 3s;

  }

  &.active {
    &::before {
      height: 100%;
    }
  }
}
