@import "src/assets/variables";
@import "src/assets/@mixin";


.about_animation_top_block {
  background: $backgroundGradient;
  margin: -30px 0;
  @media (max-width: $md4 + px) {
    margin: -45px 0;

  }
}

.about_top_section_body {
  display: flex;
  position: relative;
  overflow: hidden;

}

.animation_text_content {
  flex: 0 0 100%;
}

.animation_header_image {

}

.about_animation_top_image {
  position: absolute;
  top: -200px;
  right: -200px;

  img {
    animation: pulse 10s linear infinite;

  }

  @media (max-width: 1048px) {
    top: -100px;

  }
  @media (max-width: 767px) {
    top: -50px;

  }

  @media (max-width: $md4 + px) {
    top: 20px;
    right: -120px;

  }

}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.about_us_list {
  padding: 0 10px;
  @include adaptive-value("margin-top", 115, 40, 1);
}

.about_values_title {
  display: flex;
  align-items: center;
  flex-direction: column;

  h3 {
    color: $black;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &::after{
      content: '';
      display: block;
      left: 0;
      margin-top: 10px;
      height: 1px;
      width: 40%;
      background-color: $red;
    }
    @include adaptive-font(100, 40);
    @include adaptive-value("line-height", 100, 40, 1);
  }

  p {
    color: $black;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-width: 400px;
    padding: 0 10px;

    @include adaptive-font(22, 18);
    @include adaptive-value("margin-top", 40, 20, 1);


  }
}

.about_values {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include adaptive-value("margin-top", 190, 50, 1);

}

.about_values_list {
  display: flex;
  padding: 0 10px;

  @include adaptive-value("margin-top", 100, 10, 1);
  @include adaptive-value("gap", 140, 22, 1);
  @media (max-width: 556px) {
    gap: 20px;


  }
}

.values_list_item {
  min-width: 300px;
  min-height: 300px;
  border-radius: 15.013px;
  border: 1px solid #FFF0F0;
  background: var(--hover, linear-gradient(180deg, #8D1038 0%, #191923 100%));
  box-shadow: 3.75332px 5.25464px 22.5199px 0px rgba(25, 25, 35, 0.36), -5px -5px 4.50398px 0px rgba(255, 255, 255, 0.35) inset;
  backdrop-filter: blur(13.136605262756348px);
  @media (max-width: 1127px) {
    min-width: 250px;
    min-height: 250px;
  }
  @media (max-width: 930px) {
    min-width: 200px;
    min-height: 200px;
  }
  @media (max-width: 821px) {
    min-width: 150px;
    min-height: 150px;

    img {
      width: 40%;
      height: 40%;
    }
  }
  @media (max-width: 504px) {
    min-width: 100px;
    min-height: 100px;


  }

}

.about_distinguishes_body {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  @include adaptive-value("margin-top", 170, 50, 1);
  @media (max-width: $md1 + px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

.distinguishes_body_text {
  max-width: 800px;

  p {
    margin: 20px 0 0;
    color: $black;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    @media (max-width: $md1 + px) {
      flex-direction: column;
      text-align: center;
    }
    @include adaptive-font(22, 18);

  }
}

.about_distinguishes_img_block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  svg {
    width: 490px;
    height: 490px;

    @media (max-width: 655px) {
      width: 440px;
      height: 440px;
    }
    @media (max-width: 554px) {
      width: 400px;
      height: 400px;
    }
    @media (max-width: 522px) {
      width: 350px;
      height: 350px;

    }
    @media (max-width: 450px) {
      width: 300px;
      height: 320px;

    }
  }

  @media (max-width: 450px) {
    margin-left: 40px;

  }

}

.about_distinguishes_img_block_border {
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  @media (max-width: 655px) {
    padding: 10px;

  }
  @media (max-width: 554px) {
    padding: 0;

  }
}

.about_distinguishes_red_block {
  padding: 70px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--hover, linear-gradient(180deg, #8D1038 0%, #191923 100%));
  @media (max-width: 655px) {
    padding: 60px;

  }
  @media (max-width: 522px) {
    padding: 40px;

  }
}

.about_distinguishes_white_block {
  padding: 63px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  @media (max-width: 655px) {
    padding: 50px;

  }
  @media (max-width: 522px) {
    padding: 35px;

  }
}

.about_distinguishes_img {
  position: absolute;
  min-width: 120px;
  min-height: 120px;
  background-color: white;

  border-radius: 4px;
  border: 2px solid #8D1038;
  box-shadow: 0px 0px 13px 0px rgba(163, 163, 163, 0.40) inset;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 655px) {
    min-width: 100px;
    min-height: 100px;
  }
  @media (max-width: 554px) {
    min-width: 80px;
    min-height: 80px;

    img {
      width: 70%;
      height: 70%;
    }
    .img_block {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 396px) {
    min-width: 50px;
    min-height: 50px;
    img {
      width: 50%;
      height: 50%;
    }
  }


}

.distinguishes_row1 {
  left: -100px;
  @media (max-width: 396px) {
    left: -70px;

  }

}

.distinguishes_row2 {
  top: -100px;

  @media (max-width: 396px) {
    top: -60px;

  }
}

.distinguishes_row3 {
  bottom: -100px;
  right: 10px;
  @media (max-width: 396px) {
    bottom: -60px;

  }

}

.about_our_team {

  @include adaptive-value("margin-top", 360, 50, 1);

}

.our_team_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    color: $black;
    text-align: center;
    font-size: $fontSize100;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    text-transform: uppercase;
    position: relative;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1px;
    text-decoration-color: $red;
    @include adaptive-font(100, 40);
    @include adaptive-value("line-height", 100, 40, 1);

  }

  p {
    margin: 40px 0 0;
    color: $black;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    @include adaptive-font(22, 18);

  }
}

.about_our_team_people {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  @include adaptive-value("margin-top", 220, 30, 1);
  @media (max-width: 1003px) {
    overflow-x: scroll;
  }

}

.people_item {
  @media (max-width: 1003px) {
    min-width: 300px;
    padding: 0 0 20px 0;
  }
}

.people_item_content {
  position: relative;
  display: flex;
  justify-content: center;

  img {
    position: relative;
    filter: grayscale(100%);
    transition: .3s;
    cursor: pointer;

    &:hover {
      filter: grayscale(0);
    }
  }

}

.people_item_bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
  background: $backgroundGradient;

}

.people_item_name {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    color: $black;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    @include adaptive-font(30, 15);

  }

  p {
    color: $black;
    font-style: normal;
    font-weight: 400;
    line-height: 154.3%;
    @include adaptive-font(22, 12);

  }
}

.about_consultation_block {
  @include adaptive-value("margin-top", 200, 50, 1);

}