@import "src/assets/variables";
@import "src/assets/@mixin";

.blog_item_details {
  padding-top: 60px;
  @media (max-width: $md3+ px) {
     padding-top: 50px;

    @include adaptive-value("padding-top",50,22 ,0);

  }

}

.blog_details_header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    color: $black;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 800px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 20%;
      height: 1px;
      background-color: $red;
      bottom: -10px;
      transition: 3s;

    }

    &.active::before {
      width: 30%;

    }
    @include adaptive-value("line-height", 54, 22, 0);
    @include adaptive-font(54,22);

  }
}

.blog_details_subTitle {
  display: flex;
  gap: 50px;

  p{
    color: rgba(25, 25, 35, 0.45);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  @include adaptive-font(24,12);
  @include adaptive-value("gap", 50, 20, 0);
  @include adaptive-value("margin-top", 46, 20, 0);

}

.blog_details_content {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  @include adaptive-value("margin-top", 80, 20, 0);

  @media (max-width: $md2 + px) {
    flex-direction: column-reverse;


  }

}

.blog_details_content_text {


}
.blog_details_content_image{
   

}

.details_content_text_title {

  h3{
    color: $black;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;

    @include adaptive-font(45,18);

  }
  p {
    color: $black;
   margin: 20px 0 0 ;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 819px;
    @include adaptive-font(22,18);
    @media (max-width: $md2 + px) {
      max-width: 100%;

    }

  }
}
.blog_details_text_row2,.blog_details_text_row3{
   margin-top: 50px;

  h3{
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;

    @include adaptive-font(33,18);

  }

  p{
    color: $black;
    margin: 30px 0 0 ;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include adaptive-font(22,18);
    @include adaptive-value("margin-top",30,15,0);


  }

  @include adaptive-value("margin-top",50,20,0);

}
.share_blog{
   display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 82px;

  @include adaptive-value("margin-top",82,22,0);


}
.share_blog_text{
  color: rgba(0, 0, 0, 0.50);
  font-size: $fontSize17;
  font-style: normal;
  font-weight: 400;
  line-height: 154.3%; /* 24.688px */
  cursor: pointer;
}
.share_blog_icons{
   display: flex;
  gap: 15px;
  color: rgba(0, 0, 0, 0.50);
  font-size: $fontSize17;
  font-style: normal;
  font-weight: 400;
  line-height: 154.3%; /* 24.688px */
  cursor: pointer;
  align-items: center;
  a{
    cursor: pointer;
    transition: .3s;
  }
  a:hover{

    svg path{
      stroke: $red;
    }
  }
}
.similar_blog{

  @include adaptive-value("margin-top",130,60,0);

}
.similar_blog_title{
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  @include adaptive-font(45,22)
}
.similar_blog_list{
   display: grid;
  gap: 32px;
  grid-template-columns: repeat(3 , 1fr);
  @include adaptive-value("margin-top",82,26,0);
  
  @media (max-width: 1299px) {
     overflow-x: scroll;

    .blog_item{
      min-width: 400px;
    }
  }

}