@import "src/assets/variables";
@import "src/assets/@mixin";

//Animation header start
.services_section {

}

.services_header_block {
  overflow: hidden;
  background: $backgroundGradient;
  margin: -20px 0;
  @media (max-width: $md4 + px) {
    margin: -60px 0;

  }
}

.services_animation_content-image {
position: absolute;
  left: 0;
  top: 0;
}
.services_animation_content-image img{

}

.services_top_section_body {

}

.services_animation_text_content {
  width: 100%;

  h3 {
    color: $white;
    font-style: normal;
    font-weight: 400;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 10%;
      height: 1px;
      background-color: $white1;

      @media (max-width: 508px) {
        width: 30%;

      }
    }

    @include adaptive-font(90, 40);
    @include adaptive-value("line-height", 140, 60, 1);


  }


  @include adaptive-value("padding-top", 170, 50, 1);
  @include adaptive-value("padding-bottom", 150, 63, 1);
  @media (max-width: $md2 + px) {
    width: 100%;

  }
}

.animation_text_content_info {
  margin-top: 30px;

  p {
    color: $white;
    font-style: normal;
    font-weight: 400;
    max-width: 1040px;
    padding-top: 20px;
    @include adaptive-font(24, 14);
    @include adaptive-value("line-height", 24, 14, 1);

    @media (max-width: $md2 + px) {
      max-width: 500px;
    }
  }

  @include adaptive-value('margin-top', 30, 10, 1);

}



@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


//Animation header end


.services_list {
  display: flex;
  flex-direction: column;
  @include adaptive-value("margin-top", 110, 72, 1);
  @include adaptive-value("gap", 50, 15, 1);

}

.services_list_item {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: background .3s;

  h3 {
    color: #191923;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    @include adaptive-font(74, 22);
    @include adaptive-value("line-height", 104, 23, 1);
    cursor: pointer;

  }

  a {
    color: #8D1038;
    text-align: center;
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    cursor: pointer;

    @include adaptive-font(30, 12);
    @include adaptive-value("line-height", 36, 14, 1)

  }

  p {
    color: #191923;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    @include adaptive-value("margin-top", 20, 5, 1);
    @include adaptive-font(24, 12);
    @include adaptive-value("line-height", 28, 12, 1);


  }

  @include adaptive-value("padding-top", 35, 10, 1);
  @include adaptive-value("padding-bottom", 65, 17, 1);

  @media (any-hover: hover) {
    &:hover {
      background: $backgroundGradient;
    }
    &:hover h3 {
      color: white;
    }
    &:hover p {
      color: white;
    }
    &:hover a {
      color: white;
    }
  }

}

.services_list_item > :not(:last-child) {
  @include adaptive-value("margin-top", 20, 10, 1);

}

.services_list_body {
}

.services_gap {
  @include adaptive-value("padding-top", 155,35, 1);

}

.services_line {
  height: 1px;
  max-width: 80%;
  background-color: black;
  margin: 0 auto;
  margin-top: 100px;
  @media (max-width: $md2 + px) {
     display: none;
  }
}

.logo-img path {
  fill: $red;
  width: 3.2rem;
  height: 3.2rem;
}
.services_distinguishes_Us .distinguishes_us_section .G-container{
  padding: 0 15px;
}
.services_distinguishes_Us .distinguishes_us_section .G-container .services_row3{
  left: 50px;
}
////

.services_animation_top_block{
  background: $backgroundGradient;
  margin: -30px 0;
  @media (max-width: $md4 + px) {
    margin: -45px 0;

  }
}

.services_top_section_body{
  display: flex;
  position: relative;
  overflow: hidden;

}
.services_animation_text_content{
  flex:  0 0  100%;

  p {
    color: $white;
    font-style: normal;
    font-weight: 400;
    max-width: 1040px;
    padding-top: 20px;
    @include adaptive-font(24, 14);
    @include adaptive-value("line-height", 24, 14, 1);

    @media (max-width: $md2 + px) {
      max-width: 500px;
    }
  }

  @include adaptive-value('margin-top', 30, 10, 1);
}
.animation_header_image{

}
.about_animation_top_image{
  position: absolute;
  top: -200px;
  right: -200px;
  img{
    animation: pulse 10s linear infinite;

  }
  @media (max-width: 1048px) {
    top: -100px;

  }
  @media (max-width: 767px) {
    top: -50px;

  }

  @media (max-width: $md4 + px) {
    top: 20px;
    right: -120px;

  }

}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
