@import "src/assets/variables";
@import "src/assets/@mixin";

.blog_item {
  display: flex;
  flex-direction: column;
  align-items: center;


}
.blog_item_image {
  display: flex;
  align-items: center;
  position: relative;
 cursor: pointer;
  img{
    filter: grayscale(100%);
    transition: .3s;

  }
  &:hover{
    img{
      filter: grayscale(0);

    }
  }
}
.blog_item_text_content{
   max-width: 540px;
}

.blog_item_title a {
  color: #000;
  font-style: normal;
  font-weight: 400;
  transition: .3s;
  @include adaptive-font(45,28);
  @include adaptive-value("margin-top",30,19,0);
  @include adaptive-value("line-height",45,27,0);
  &:hover{
     color: $red;
  }

}



.blog_item_utils {
  display: flex;
  justify-content: space-between;

  .blog_item_data {
    color: $black;
    font-size: $fontSize17;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
    @include adaptive-font(17,11);
    &:hover{
      color: $red;
    }
  }

  .blog_item_name {
    color: black;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
    @include adaptive-font(17,11);
    &:hover{
      color: $red;
    }
  }

  .blog_item_info {
    color: rgba(25, 25, 35, 0.45);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
    &:hover{
      color: $red;
    }
    @include adaptive-font(17,11)

  }
  @include adaptive-value("margin-top",36,20,0)

}

.blog_item_description {
  margin-top: 48px;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @include adaptive-font(22,13);
  @include adaptive-value("margin-top",48,30,0)


}
.blog_item_route{
  display: flex;
  justify-content: flex-end;

  a{
    background: none;
    color: $black;
    font-style: normal;
    font-weight: 400;
    line-height: 41px; /* 40.443px */
    text-transform: uppercase;
    transition: .3s;

    @include adaptive-font(26,11);
    &:hover{
      color: $red;
    }
  }
  @include adaptive-value("margin-top",30,20,0)


}