@import "src/assets/variables";
@import "src/assets/@mixin";

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $black;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 9999;


}

.header_content {
  display: flex;
  align-items: center;


}

.header_logo {
  flex: 1 1 144px;
  padding: 37px 0;
  @media screen and (max-width: $md2 + px) {
    padding: 20px 0;
  }

  @media screen and (max-width: $md3 + px) {
    padding: 10px 0;

  }

  @media screen and (max-width: $md4 + px) {
    img{
       width: 45%;
      height: 45%;
    }

  }

}

.header_menu {
  flex: 1 1 auto;



}

.header_download {
  display: flex;
  gap: 43px;
  @media screen and (max-width: $md1 + px) {
     display: none;
  }
}

.header_language {
  display: flex;
  align-items: center;
  gap: 17px;
}

.header_language a {
  font-size: $fontSize13;
  font-style: normal;
  font-weight: 700;
  line-height: 13px; /* 12.959px */
  text-transform: uppercase;
  font-family: Commissioner;
  color: #191923;



}

.header_language_en {
  color: $red;

}

.header_language_de {
  color: black;
}


.header_download_btn {
  display: flex;
  gap: 25px;

  button {
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: Barlow Condensed;
    font-size: $fontSize14;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;


  }
}


.header_download_btn_white {
  position: relative;
  padding: 11px 17px;
  min-width: 162px;
  text-align: left;
  border: 1px solid $black;
  color: black;
  font-size: $fontSize14;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 21.602px */
  display: flex;
  align-items: center;
  background: none;

  img {
    position: absolute;
    right: 11px;
  }

}


.header_download_btn_red {
  background: $backgroundGradient;
  color: white;
  padding: 11px 39px;
  min-width: 162px;
  font-size: $fontSize14;
  font-style: normal;
  font-weight: 600;
  line-height: 154.3%; /* 21.602px */
  text-transform: uppercase;
  font-family: Barlow Condensed;
  transition: .3s;

  &:hover {
    @include buttonHover
  }
}
.burger_menu{
   display: none;
}
@media screen and (max-width: $md1 + px) {
  .burger_menu {
    position: relative;
    width: 70px;
    height: 30px;
    cursor: pointer;
    display: block;
    z-index: 10;


    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: black;
      position: absolute;
      top: 0;
      right: 0;
      transition: .3s;
      @media screen and (max-width: $md4 + px) {
        width: 80%;


      }

    }
    &.active::after{
      transform: translateY(18px) rotate(45deg);
      width: 70%;

      @media screen and (max-width: $md4 + px) {
        transform: translateY(15px) rotate(45deg);
      }
    }

    span {
      display: block;
      width: 80%;

      height: 1px;
      background-color: black;
      position: absolute;
      top: 13px;
      right: 0;
      transition: .3s;

      @media screen and (max-width: $md4 + px) {
        top: 11px;
        width: 60%;

      }
    }

    &::before {
      content: '';
      width: 60%;
      height: 1px;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: black;
      transition: .3s;

      @media screen and (max-width: $md4 + px) {
        width: 40%;

      }

    }
    &.active::before{
      transform: translateY(-10px) rotate(-45deg);
      width: 70%;
      @media screen and (max-width: $md4 + px) {

      }
    }
    &.active span{
      transform: scaleX(0);

    }


    @media screen and (max-width: $md4 + px) {
      height: 25px;

    }

  }

}



