@import "src/assets/variables";
@import "src/assets/@mixin";

.career_roles_item{
   display: flex;
  justify-content: space-between;
  gap: 30px;
  border-radius: 2px;
  border: 1px solid #000;
  transition: .3s;
  cursor: pointer;
  @include adaptive-value("padding",50,10 , 1);
  @include adaptive-value("margin-top",50,20 , 1);

  @media (max-width: 995px) {
      flex-direction: column;
  }
  @media (any-hover: hover) {
    &:hover{
      background-color: $red;
    }
    &:hover a{
      color: white;
    }
    &:hover  p{
      color: white;
    }
    &:hover .roles_item_icon svg path{
      stroke: white;
    }
    &:hover .roles_item_icon svg {
      width: 65%;
      height: 65%;
      transform: rotate(100deg);
      transition: transform 0.3s;

    }



  }

}

.roles_item_texts{

  a{
    color:$red;
    font-size: $fontSize45;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include adaptive-font(45,14)

  }
  p{
    color: $black;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 35px;
    max-width: 1100px;
    @media (max-width: 1539px) {
      max-width: 800px;
    }
    @media (max-width: 1219px) {
      max-width: 600px;
    }
    @include adaptive-font(24,12);

    @include adaptive-value("margin-top",35,10 , 1)
  }

}
.roles_item_tolls{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 995px) {
    flex-direction: initial;

  }


}

.roles_item_icon{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
  transition: .3s;
svg{
  transition: .3s;

}
  @media (max-width: 995px) {
     justify-content: inherit;
    width: auto;
   }
  @media (max-width: $md3 + px) {
     svg{
        width: 60%;
       height: 60%;
     }
  }
}
.roles_item_icon_mobile{
  display: none;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
  @media (max-width: 995px) {
    width: auto;
  }
  @media (max-width: $md3 + px) {
    img{
      width: 60%;
      height: 60%;
    }
  }
}

@media (max-width: 995px) {
  .roles_item_icon{
     display: none;
  }
  .roles_item_icon_mobile{
    display: flex;
  }
}


.roles_item_route{
  a{
    padding: 17px 60px;
    background: $backgroundGradient;
    color: $white;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 33.946px */
    text-transform: uppercase;

    &:hover{
      @include buttonHover

    }
    @media (max-width: $md3 + px) {
      padding: 10px 20px;

    }
    @include adaptive-font(22,15);
    @include adaptive-value("line-height",33,25 , 1)

  }
}