@import "../../../../assets/variables";
@import "../../../../assets/@mixin";

.distinguishes_us_section {
  margin-top: calc(50px + (150 - 50) * ((100vw - 320px) / (1680 - 320)));

  display: flex;
  align-items: center;
  flex-direction: column;

  .G-container {
    padding: 0 40px;
  }


}

.distinguishes_body {
  display: flex;

  @media screen and (max-width: $md1 + px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

.distinguishes_img_block {
  min-width: 489px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 480px;
    height: 480px;
    position: absolute;
    border-radius: 5px;


    @media screen  and (max-width: $md3 + px){
      width: 400px;
      height: 400px;
    }
    @media screen  and (max-width: $md3 + px){
      width: 350px;
      height: 350px;

    }
    @media screen  and (max-width: $md4 + px){
      width: 320px;
      height: 320px;

    }
    @media screen  and (max-width: 376px){
      width: 300px;
      height: 300px;
    }

  }

}

.distinguishes_img_block_border {
  padding: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


  @media screen  and (max-width: $md3 + px){
       padding: 30px;
  }

}

//Images start
.distinguishes_img {
  position: absolute;
  min-width: 70px;
  min-height: 70px;
  border-radius: 4px;
  border: 1px solid ;
  background: #FFF;
  box-shadow: 0px 0px 13px 0px rgba(163, 163, 163, 0.40) inset;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen  and (max-width: $md3 + px){
    min-width: 60px;
    min-height: 60px;
  }

  @media screen  and (max-width: $md4 + px){
    min-width: 50px;
    min-height: 50px;

  }
  @media screen  and (max-width: 376px){
    min-width: 40px;
    min-height: 40px;
  }
  .img_block{
    @media screen  and (max-width: $md4 + px){
       width: 60%;
       height: 60%;
    }


  }

}

.row1 {
  left: -35px;
  top: 100px;
  @media screen  and (max-width: $md4 + px){
    left: -25px;

  }
  @media screen  and (max-width: 376px){
    left: -15px;

  }

}

.row2 {
  right: -30px;
  bottom: 120px;
  @media screen  and (max-width: $md4 + px){
    right: -25px;

  }
  @media screen  and (max-width: 376px){
    right: -15px;

  }
}

.row3 {
  top: -35px;
  left: 80px;
  @media screen  and (max-width: $md4 + px){
    top: -30px;

  }
  @media screen  and (max-width: 376px){
    top: -15px;

  }
}

.row4 {
  bottom: -30px;
  left: 10px;
  @media screen  and (max-width: $md4 + px){
    bottom: -30px;

  }
  @media screen  and (max-width: 376px){
    bottom: -15px;

  }
}

.row5 {
  bottom: -30px;
  right: 30px;
  @media screen  and (max-width: $md4 + px){
    bottom: -30px;

  }
  @media screen  and (max-width: 376px){
    bottom: -15px;

  }
}

.row6 {
  top: -35px;
  right: 10px;
  @media screen  and (max-width: $md4 + px){
    top: -30px;

  }
  @media screen  and (max-width: 376px){
    top: -15px;

  }

}

//Images end

.distinguishes_red_block {

  padding: 80px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--hover, linear-gradient(180deg, #8D1038 0%, #191923 100%));
  @media screen  and (max-width: $md3 + px){
    padding: 60px;

  }
  @media screen  and (max-width: $md4 + px){
    padding: 45px;

  }
}

.distinguishes_white_block {
  background-color: white;
  padding: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  @media screen  and (max-width: $md3 + px){
    padding: 50px;

  }
  @media screen  and (max-width: $md4 + px){
    padding: 35px;

  }
}

.distinguishes_text_block {
  margin-left: 100px;

  @media screen and (max-width: $md1 + px) {
     margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    @include adaptive-value("margin-top",50,40,1)


  }

}

.distinguishes_text_title {

  h3 {
    position: relative;
    font-style: normal;
    font-weight: 400;
    color: $black;
    text-transform: uppercase;

    &::before {
      position: absolute;
      content: '';
      width: 30%;
      height: 1px;
      bottom: -10px;
      display: block;
      background-color: $red;
    }

    @media screen and (max-width: $md1 + px) {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

    }
    @include adaptive-font(52,34);
  }

}

.distinguishes_text_description {
  margin: 40px 0 0;

  p {
    color: $black;

    font-style: normal;
    font-weight: 400;
    margin: 30px 0 0;
    @media screen and (max-width: $md1 + px) {
      text-align: center;
    }
    @include adaptive-font(22,18);
    @include adaptive-value("margin-top",30,20,1);
    @include adaptive-value("line-height",26,18,1)

  }
  @include adaptive-value("margin-top",40,20,1)
}

.distinguishes_see_more {
  margin-top: 39px;

  button {
    padding: 14px 111px;
    background: var(--hover, linear-gradient(180deg, #8D1038 0%, #191923 100%));
    color: #FFF;
    text-align: center;
    font-size: $fontSize22;
    font-style: normal;
    font-weight: 400;
    line-height: 154.3%; /* 33.946px */
    text-transform: uppercase;
    border-radius: 4px;


    &:hover {
      @include buttonHover
    }
    @media screen  and (max-width: $md3 + px){
      padding: 15px 77px;

    }
  }

}


.animation_line {
  min-height: 300px;
  position: relative;


  span {
    position: absolute;
    height: 0;
    width: 1px;
    top: 140px;
    left: 850px;
    background-color: black;
    transition: 3s;

  }

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    top: 140px;
    left: 300px;
    background-color: black;
    transition: 3s;

  }

  &::after {
    content: '';
    position: absolute;
    height: 0;
    width: 1px;
    background-color: black;
    left: 300px;
    transition: 3s;
  }

  &.active {

    &::after {
      height: 140px;
    }

    &::before {
      width: 550px;

    }

    span {
      height: 140px;
    }
  }
}

.animation_section {
  position: relative;

  svg {
    position: absolute;
    left: 350px;
  }

  @media screen and (max-width: $md1 + px) {
    display: none;
  }
}
