@import "src/assets/variables";
@import "src/assets/@mixin";

.partners_section {
  margin-top: 102px;
}

.partners_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.partners_title h3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  @include adaptive_fontSize(50px, 50);
  @include adaptive_lineHeight(50px, 50);
  @include h3_title();
}

.partners_title {
  h3 {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      background-color: $red;
      bottom: -10px;
      transition: 3s;
    }

    &.active::before {
      width: 50%;

    }
  }

}

.partners_title p {
  color: $black;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin: 40px 0 0;
  max-width: 1044px;
  background-color: white;


}
.scroll_bar{
  height: 150px;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #888; /* Customize the thumb color */
    border-radius: 4px;
  }

}

.partners_items {
  display: flex;
  align-items: center;
  margin: 35px 0 0;
  gap: 12px;
  padding: 0  0 0 20px;
  white-space: nowrap; /* Prevent content from wrapping to the next line */



}

.partners_item {
  position: relative;
  cursor: pointer;
  transition: .3s;
  border-radius: 2.198px;
  border: 1.099px solid #191923;
  background-color: white;

  min-width: 148px;
  min-height: 98px;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 30px;

  }

}


