@import "src/assets/variables";
@import "src/assets/@mixin";

.scroll_top {
  position: fixed;
  padding: 7px;
  background-color: $red;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;


svg{
   transform: rotate(180deg);
  transition: .3s;
  @media (max-width: $md3 + px) {
    width: 50%;
    height: 50%;
  }
  path{
    stroke: white;
  }
}
  @media (max-width: $md4 + px) {
    padding: 5px 1px;

  }
  &:hover{


  }
}

.izShowBtn {
  opacity: 1;
  transition: .5s;

  &_hide {
    opacity: 0;
  }
}
