@import "src/assets/variables";
@import "src/assets/@mixin";


.animate_top_section{
  background: $backgroundGradient;
  margin: -20px 0;
  @media (max-width: $md4 + px) {
    margin: -60px 0;

  }
}
.top_section_body{
    position: relative;
}

.animation_text_content {
  //padding: 140px 0 243px ;
  width: 50%;
  h3 {
    color: $white;
    font-style: normal;
    font-weight: 400;
    position: relative;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    text-decoration-color: $white1;

    @include adaptive-font(90,40);
    @include adaptive-value("line-height",140,60,1);


  }

  p {
    color: $white;
    font-style: normal;
    font-weight: 400;
    line-height: 54px; /* 54px */
    margin-top: 30px;
    max-width: 800px;

    @include adaptive-font(45,22);
    @include adaptive-value("line-height",54,26,1);
    @include adaptive-value("margin-top",30,15,1);

    @media (max-width: $md2 + px) {
      max-width: 500px;
    }
  }
  @media (max-width: $md2 + px) {
    width: 100%;

  }
  @include adaptive-value("padding-top",170,50,1);
  @include adaptive-value("padding-bottom",150,63,1)

}

.animation_content-image{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  img{
     position: absolute;
     right: -150px;
    animation: pulse 10s linear infinite;
  }


}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

