@import "../../../../assets/variables";
@import "../../../../assets/@mixin";

.testimonials_section {
  @include adaptive-value("margin-top",145 ,50,1)

}

.testimonials_logo_block {
  margin-top: 20px;
}

.testimonials_logo_block {
  position: absolute;
  left: -70px;
  top: 0;
  background-color: white;

  img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    animation: logo 4s infinite linear;

  }
}



.testimonials_body {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .arrow-right {
    right: 0;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    display: flex;
    justify-content: flex-end;

    img {
      @media screen and (max-width: $md3 + px) {
        width: 50%;
        height: 50%;
      }
    }
    @media screen and (max-width: $md3 + px) {
      right: 0;
    }
  }

  .arrow-left {
    left: 0;
    position: absolute;
    font-size: $fontSize33;
    cursor: pointer;
    z-index: 1;
    display: flex;
    justify-content: flex-start;

    img {
      @media screen and (max-width: $md3 + px) {
        width: 50%;
        height: 50%;
      }
    }
    @media screen and (max-width: $md3 + px) {
      left: 0;
    }


  }

  &::before {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color: $black;
    transition: 3s;
    top: 0;

  }

  &.active {
    &::before {
      width: 100%;

    }

  }


}


.testimonials_body_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    padding-top: 40px;
    position: relative;
    font-size: calc(20px + 32 * (100vw / 1520));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &::before {
      content: '';
      position: absolute;
      width: 50%;
      height: 1px;
      background-color: $red;
      bottom: -10px;
      display: block;
    }

    @include h3_title();
    @include adaptive-font(52,40);
    @include adaptive-value("line-height",50,40,1)

  }

  p {
    margin: 40px 0 0;
    color: $black;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    max-width: 423px;
  }
}

.testimonials_clients_slider {
  margin-top: 62px;
  display: flex;
  align-items: center;


}


.testimonials_slider_item {
  max-width: 682px;
  min-height: 153.261px;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 1px solid;
  margin: 0 auto;


  p {
    color: $black;
    font-style: italic;
    font-weight: 400;
    max-width: 334px;
    @include adaptive-font(26,13);
    @include adaptive-value("line-height",26,13,1);
    @include adaptive-value("margin-top",29,14,1)


  }

  h3 {
    color: $red;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 334px;
    @include adaptive-font(24,12);


  }

  @media (any-hover: hover) {
     &:hover{
       background-color: $red;
       p {
         margin: 30px 0 0;
         color: white;
       }

       h3 {
         color: white;


       }
     }
  }


  @media screen and (max-width: 1539px) {
    max-width: 582px;


  }
  @media screen and (max-width: 1459px) {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;

  }
  @media screen and (max-width: $md2 + px) {
    max-width: 400px;
    margin: 0 auto;

  }
  @media screen and (max-width: $md3 + px) {
    max-width: 350px;
    margin: 0 auto;

  }
  @media screen and (max-width: 447 + px) {
    max-width: 270px;
    margin: 0 auto;
    padding: 15px;
    min-height: 100px;
  }
}


.testimonials_more_btn {
  margin-top: calc(20px + (60 - 20) * ((100vw - 320px) / (1680 - 320)));
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


  button {
    padding: 13px 0;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    background: $backgroundGradient;

    &:hover {
      @include buttonHover

    }
    @include adaptive-font(22,15);
    @include adaptive-value("line-height",33,27,1);
    @include adaptive-value("padding-right",105,47,1);
    @include adaptive-value("padding-left",105,47,1);

  }

  &::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 0;
    background-color: $black;
    transition: 3s;
    top: -20px;
    left: 20%;

    @media screen and (max-width: $md1 + px) {
      display: none;

    }
  }

  &.active::after {
    height: 225px;

  }


}

