@import "../../../../assets/variables";
@import "../../../../assets/@mixin";



.our_telephone_sales_section {
  background: $backgroundGradient;
  padding: 10px 0 20px 0;
  position: relative;
  z-index: 10;

  @include adaptive-value("margin-top",110 ,50,1);

}


.our_telephone_sales_content {
 padding:  0 10px;

  h3 {
    color: $white;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    @include adaptive-value("line-height",73 ,20,1);
    @include adaptive-font(54,20);
    @include adaptive-value("padding-top",30 ,10,1);

  }

  span {
    color: $white;
    text-align: center;
    font-size: calc($fontSize20 + 34 * (100vw / 1680));
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    text-transform: uppercase;
    display: block;
    @include adaptive-font(30,10);
    @include adaptive-value("line-height",47 ,20,1);
    @include adaptive-value("padding-bottom",30 ,10,1);


  }
}
