@import "../../../../assets/variables";
@import "../../../../assets/@mixin";




.our_telephone_sales_section {
  background: $backgroundGradient;
  padding: 10px 0 20px 0;
  margin-top: 110px;
  position: relative;
  z-index: 10;

}

.telephone_middle_border {
  position: relative;
  min-height: 110px;

  &::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 0;
    background-color: black;
    transition: 3s;
    left: 50.4%;


  }

  &.active {
    &::before {
      height: 100%;
    }
  }
}
.our_telephone_sales_content {


  h3 {
    color: $white;
    text-align: center;
    //font-size: $fontSize54;
    font-size: calc($fontSize20 + 34 * (100vw / 1920));
    font-style: normal;
    font-weight: 400;

    line-height: calc(20px + 65 * (100vw / 1920));

    text-transform: uppercase;

  }

  span {
    color: $white;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    text-transform: uppercase;
    display: block;
  }
}
