$black: #191923;
$white:#FFF;
$red:#8D1038;
$backgroundGradient: var(--hover, linear-gradient(180deg, #8D1038 0%, #191923 100%));




$fontSizeSidebarIcons:20px;
$fontSize20:20px;
$fontSize17:20px;
$fontSize14: 14px;
$fontSize13:13px;
$fontSize100: 100px;
$fontSize50: 50px;
$fontSize28:28px;
$fontSize24:24px;
$fontSize45:45px;
$fontSize74:74px;
$fontSize54:54px;
$fontSize22:22px;
$fontSize33:33px;
$fontSize60:60px;
$fontSize26:26px
