@import "src/assets/variables";
@import "src/assets/@mixin";

.footer {
  padding: 91px 0 0;
  position: relative;


  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 0;
    height: 1px;
    background-color: $black;
    transition: 3s;

    @media (max-width: $md1 + px) {
      display: none;
    }
  }

  &.active::before {
    width: 100%;

  }

  @include adaptive-value("padding", 50, 20, 0);
  @media screen and (max-width: $md1 + px) {
    @include adaptive-value("margin-top", 200, 50, 0);
  }
}

.footer_middle_border {
  position: relative;
  min-height: 110px;

  &::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 0;
    background-color: black;
    transition: 3s;
    left: 50.4%;


  }

  &.active {
    &::before {
      height: 100%;
    }
  }

  @media screen and (max-width: $md1 + px) {
    display: none;
  }
  @include adaptive-value("min-height", 200, 50, 0);

}

.footer_container {
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.footer_content {
  display: flex;
  @media screen and (max-width: 1039px) {
    flex-direction: column;
    align-items: center;
    gap: 30px;

  }

}

.footer_menu_block {
  flex: 1 1 100%;
  display: flex;
  gap: 30px;

  @media screen and (max-width: 1039px) {
    width: 100%;
  }
  @media screen and (max-width: 361px) {
    flex-direction: column;

  }

}

.footer_logo {
  flex: 0 0 25%;
  display: flex;

}

.footer_contact {

}


.footer_menu_row1, .footer_menu_row2, .footer_menu_row3 {
  flex: 1 1 50%;

  ul {
    li {
      a {
        margin: 0 0 5px;
        color: $black;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.4px;
        transition: .3s;


        &:hover {
          color: gray;
        }

        @include adaptive-font(16, 12)
      }
    }
  }

  @media screen and (max-width: 1039px) {
    flex: 1 1 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: 587px) {
      justify-content: flex-start;

    }
  }
}


.footer_contact_icons {
  display: flex;
  gap: 31px;

  a {
    color: #191923;
    transition: .3s;

    &:hover {
      color: gray;
    }
  }
}

.footer_contact_info {
  margin-top: 27px;


  a {
    color: #191923;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    cursor: pointer;

    &:hover {
      color: gray;
    }
  }
}

.footer_menu_row3 {
  @media (max-width: 587px) {
    display: flex;
    justify-content: flex-end;

  }
  @media screen and (max-width: 361px) {
    justify-content: flex-start;
  }

}


.footer_contact_location, .footer_contact_phone, .footer_contact_email {
  display: flex;
  margin: 0 0 5px;

}

.footer_contact_location_text {
  width: 100%;
}

.footer_contact_info > :not(:last-child) {
  margin: 0 0 5px;

}

.footer_end {
  border-radius: 4px;
  background: #8D1038;
  margin-top: 64px;

  p {
    text-align: center;
    color: #FFF;
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    @include adaptive-font(16, 14)
  }

  @include adaptive-value("margin-top", 64, 24, 1);
  @include adaptive-value("padding-right", 170, 40, 1);
  @include adaptive-value("padding-left", 170, 40, 1);
  @include adaptive-value("padding-top", 20, 13, 1);
  @include adaptive-value("padding-bottom", 20, 13, 1)

}

.footer_end_icon {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_contact_location_phone {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;


  p {
    text-align: right;
    cursor: pointer;

    &:hover {
      color: gray;
    }
  }

  span {
    margin-right: 20px;
    font-size: 20px;

    &:hover {
      color: gray;
    }
  }
}

.footer_contact_phone {
  span {
    margin-right: 20px;
    font-size: 20px;
  }

  a {

  }

}

.footer_contact_email {
  display: flex;
  gap: 10px;

  span {
    font-size: 20px;

  }
}