@import "src/assets/@mixin.scss";
@import "src/assets/variables.scss";

.App {
    overflow: hidden;
    font-family: Barlow Condensed;

}

.main{
    margin-top: 150px;
    @media screen and (max-width: $md2 + px) {
        margin-top: 140px;

    }
    @media screen and (max-width: $md3 + px) {
        margin-top: 130px;

    }
    @media screen and (max-width: $md3 + px) {
        margin-top: 125px;

    }
}


@font-face {
    font-family: Barlow Condensed ;
    src: url("assets/fonts/BarlowCondensed-Light.woff");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: Barlow Condensed ;
    src: url("assets/fonts/BarlowCondensed-Regular.woff")format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: Barlow Condensed ;
    src: url("assets/fonts/BarlowCondensed-Medium.woff")format("woff");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: Barlow Condensed ;
    src: url("assets/fonts/BarlowCondensed-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Barlow Condensed ;
    src: url("assets/fonts/BarlowCondensed-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Commissioner ;
    src: url("assets/fonts/Commissioner-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Commissioner ;
    src: url("assets/fonts/Commissioner-Bold (1).woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
.magnet_icons_list{
    display: flex;
    gap: 120px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.magnet_icons_item{
     display: flex;
    flex-direction: column;
    align-items: center;
}
.magnet_icons_item_text p{
     text-align: center;
    font-size: 15.741px;
    font-weight: 500;
    margin-top: 5px;
    max-width: 250px;
}

.magnet_icons_item_text h3{
     text-align: center;
    margin-top: 15px;
    font-size: 19.676px;
    font-weight: 700;

}
@media (max-width: 553px) {
    .magnet_icons_item_text p{
        max-width: 150px;
        font-size: 9px;

    }
    .magnet_icons_item_text h3{
        font-size: 12px;
        margin-top: 10px;

    }
    .magnet_icons_item_image{
         width: 50%;
        height: 50%;
    }

}
@media (max-width: 834px) {
    .magnet_icons_list{
        gap: 20px;
    }

}