@import "src/assets/variables";
@import "src/assets/@mixin";

.consultation_section {
  //margin-top: 104px;
  background: var(--hover, linear-gradient(180deg, #8D1038 0%, #191923 100%));

}

.consultation_body {
  padding: 70px 0 30px;
  border-radius: 4px;
  display: flex;
}

.consultation_text {
  flex: 1 1 298px;
  display: flex;
  flex-direction: column;

  h3 {
    color: $white;
    font-style: normal;
    font-weight: 400;
    line-height: 72px; /* 62px */
    text-transform: uppercase;
    max-width: 607px;
    flex: 1 1 auto;


    @include adaptive_fontSize(20px, 42)
  }
  a{
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 28px */
    text-transform: uppercase;


  }

}

.form_title {

  h3 {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 32px */
  }
}

.input_block {
  margin-top: 16px;
  span {
    color: #FFF;
    font-size: $fontSize22;
    font-style: normal;
    font-weight: 400;
    line-height: 154.3%; /* 33.946px */
  }

  input {
    padding: 21px 31px;
    width: 100%;
    border-radius: 4px;
    &::placeholder{
      color: #191923;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 154.3%; /* 33.946px */
    }

  }
  select{

  }
  span{
    color: #FFF;
    font-family: Commissioner;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 154.3%; /* 33.946px */
  }

}
.select_block{
  label{
    display: flex;
    gap: 14px;
  select{
     width: 30%;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../../../assets/svgIcons/ArrowDownRight (1).svg'); /* Specify your custom arrow image URL */
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 30px;
    padding: 10px;
  }
  }
}
.remember_me{
   display: flex;
  gap: 10px;
  margin-top: 10px;
  color: #FFF;
  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.3%;
  input[type="checkbox"] {
    display: none;
  }
label{
  width: 30px;
  height: 30px;
  position: relative;
  border: 1px solid white;

  &::before{
     width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: black;
  }

}
}


.form_contact_button{
   margin: 22px 0 0 ;
   padding: 14px 160px;
  border-radius: 4px;
  color: #191923;
  text-align: center;
  font-size: $fontSize22;
  font-style: normal;
  font-weight: 400;
  line-height: 154.3%; /* 33.946px */
  text-transform: uppercase;

}

.consultation_middle_border {
  position: relative;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 0;
    background-color: black;
    transition: 3s;
    left: 50.4%;


  }


  &::after {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color: black;
    bottom: 0;
    transition: 3s;


  }
  &.active {
    &::before {
      height: 100%;
    }
    &::after{
      width: 100%;

    }
  }
}