@import "../../../../assets/variables";
@import "../../../../assets/@mixin";

.services_portfolio {
  //margin-top: 110px;
  margin-top: calc(50px + (110 - 50) * ((100vw - 320px) / (1680 - 320)));

}



.services_portfolio_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    background: white;
    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      background-color: $red;
      bottom: -10px;
      transition: 3s;
    }

    &.active::before {
      width: 50%;

    }

    @include h3_title();
    @include adaptive-font(100,40);
    @include adaptive-value("line-height",100,40,1)
  }

  p {
    color: #191923;
    text-align: center;
    background-color: white;
    font-style: normal;
    font-weight: 400;
    margin: 30px 0 0;
    max-width: 1044px;
    @include adaptive-font(22,18);
    @include adaptive-value("line-height",27,21,1)

  }


}

.services_portfolio_items {
  display: flex;
  margin-top: 41px;



  @media screen  and (max-width: 1503px){
      overflow-x: scroll;
  }


}

.services_portfolio_item {
  border-right: 0.5px solid #FFF;
  background: linear-gradient(180deg, #191923 0%, #191923 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 16.6%;
  min-height: 670px;
  cursor: pointer;
  transition: .3s;



  h3 {

    color: $white;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding: 73px 5px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      background-color: $white;
      bottom: -10px;
      transition: 3s;

      @media (max-width: $md4 + px) {
          display: none;
      }
    }
    &.active{
     &::before{
        width: 50%;
     }
    }
    @include adaptive-font(32,24);
    @media (max-width: $md4 + px) {
      padding: 50px 5px 0;

    }

  }

  p {
    padding: 0 17px;
    margin: 33px 0 0;
    color: $white;
    text-align: center;
    font-size: $fontSize20;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    @include adaptive-font(20,14);

  }

  span {
    margin: 33px 0 0;
    color: white;
    padding: 0 17px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    @include adaptive-font(24,18);
    @include adaptive-value("margin-top",33,20,1);


  }

  i {
    margin: 33px 0 0;
    padding: 0 17px 80px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: white;
    @include adaptive-font(24,18);
    @include adaptive-value("margin-top",33,20,1);

  }
  @media screen  and (max-width: 1503px){
    min-width: 270px;
    padding: 0 0 40px;

  }
  @media (max-width: $md4 + px) {
    min-width: 240px;
    min-height: 0;

  }
}
.services_portfolio_item:hover{
  background: linear-gradient(180deg, #8D1038 0%, #191923 100%);
  transform: scale(1.1)

}


.services_portfolio_tools {
  margin-top: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 41px;
  @media screen  and (max-width: $md3 + px){
    flex-direction:column;
  }
  @include adaptive-value("margin-top",53,20,1);
  @include adaptive-value("gap",41,17,1);

}

.portfolio_tools_red_button {
  border-radius: 4px;
  background: linear-gradient(180deg, #8D1038 0%, #191923 100%);
  padding: 15px 57px;
  color: $white;
  text-align: center;
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;



  &:hover {
    @include buttonHover
  }
  @media screen  and (max-width: $md3 + px){
    padding: 15px 37px;

  }
  @include adaptive-font(28,22);
  @include adaptive-value("line-height",33,20,1);

}

.portfolio_tools_white_button {
  background: $white;
  color: $black;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 28px */
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: $fontSize28;
  padding: 15px 57px;
  transition: .3s;
  border-radius: 4px;


  @include adaptive-value("line-height",33,20,1);
  svg{
    transition: .3s;

  }
  &:hover{
    svg path{
      stroke: white;

    }
    svg{
      transform: rotate(-45deg);
    }
     color: white;
    background-color: $red;
  }

}

